nav {
  display: flex;
  background-color: rgb(153, 214, 234);
}

.nav {
  margin-left: 10%;
}


.h1-nav {
  color: #1B1D36;
  margin: auto;
  font-size: 3em;
}

.logo-box {
  display: flex;
  margin: auto;
  height: 4em;
}

ul {
  margin: auto 0 auto 0;
  list-style: none;
  display: flex;
}

li {
  padding: 0 0.5em 0 0.5em;
  font-size: 2em;
  text-decoration: none;
  margin: auto 0 auto 0;
}

.dolar-icon {
  font-size: 4em;
  margin: auto;
}

.link {
  text-decoration: none;
}
