nav {
  height: 4em;
  background-color: rgb(153, 214, 234);
  margin: auto;
}

.nav-lances {
  margin-left: 10%;
  display: flex;
}

.ul-box-lances {
  margin-left: auto;
  margin-right: 10%; 
}

ul {
  margin: auto 0 auto 0;
  list-style: none;
  list-style: none;
  display: flex;
  height: 4em;
}

li {
  padding: 0 0.5em 0 0.5em;
  font-size: 2em;
  text-decoration: none;
  margin: auto 0 auto 0;
}

button {
  display: inline-block;
  border: 0;
  color: #fff;
  background-color: #1B1D36;
  transition: filter 0.2s;
  height: 4em;
}