nav {
  display: flex;
  background-color: rgb(153, 214, 234);
}

.nav-home {
  margin-left: 10%;
}


.h1-nav {
  color: #1B1D36;
  margin: auto;
  font-size: 3em;
}

.logo-box {
  display: flex;
  margin: auto;
  height: 4em;
}





.dolar-icon {
  font-size: 4em;
  margin: auto;
}

.link {
  text-decoration: none;
}
